github "LoopKit/LoopKit" "dev"
github "adeleflorence/CGMBLEKit" "master"
github "i-schuetz/SwiftCharts" == 0.6.5
github "adeleflorence/dexcom-share-client-swift" "master"
github "adeleflorence/G4ShareSpy" "master"
github "ps2/rileylink_ios" "dev"
github "LoopKit/Amplitude-iOS" "decreepify"
